<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login page</title>
  <link rel="stylesheet" href="views/public/css/login.css">
</head>
<body>
  <div class="center">
    <div class="container">
      <div class="text">Login</div>
      <form action="#">
        <div class="data">
          <label>Email id or phone</label>
          <input type="text" required>

        </div>
        <div class="data">
          <label>password</label>
          <input type="password" required>

        </div>
        <div class="forgot-password"><a href="#">forgot password?</a></div>
        <div class="btn">
          <div class="inner"></div>
          <button type="submit">Login</button>

        </div>
        <div class="signup">not a member?<a href="#">sign up</a> </div>

      </form>

    </div>

  </div>
</body>
</html>
