body{
  background: #fefefe;
  /* font-family: Roboto; */
}

#fs_app{
  padding: 10px 15px 0;
}

#fs_app section:not(#fs_header_bar){
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}

#fs_header_bar{
  padding-top: 25px;
  padding-bottom: 0;
}

#fs_page_title{
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  margin-left: 15px;
}
.bt:hover {
  background: #d1e1eb;
  background-image: -webkit-linear-gradient(top, #d1e1eb,#d1e1eb);
  background-image: -moz-linear-gradient(top, #d1e1eb,#d1e1eb);
  background-image: -ms-linear-gradient(top, #d1e1eb, #d1e1eb);
  background-image: -o-linear-gradient(top, #d1e1eb, #d1e1eb);
  background-image: linear-gradient(to bottom, #d1e1eb,#d1e1eb );

  text-decoration-color: #ed4040;
}


.heading
{
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn{
  width: 100px;
  background: transparent;
  border: 1px solid #ff286c;
  border-radius: 2px;
  padding: 3px;
  color: #ff286c;
  font-size: 14px;
  font-weight: 300 !important;
  margin-top: 15px;
  margin-bottom: 20px;

}

.active .btn{
  background: #ff286c;
  color: #fff;
}

#fs_price_body .line1{
  height: 2px;
  width: 100%;
  background: #eee;
}

#fs_price_body .line{
  position: absolute;
  height: 2px;
  width: 45%;
  background: #ff286c;
  left: 9%;
}

#fs_price_body .line:before{
  position: absolute;
  content:  '';
  display: block;
  height: 6px;
  width: 6px;
  background: #ff286c;
  border-radius: 50%;
  left: -2px;
  top: -2px;
}

#fs_price_body .line:after{
  position: absolute;
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  background: #ff286c;
  border-radius: -2px;
  right: -2px;
  bottom: -2px;
}

#fs_price_body ul{
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;

}

#fs_price_body ul li{
  list-style: none;
  display: inline-block;
  color: #d4d4d4;
}

#fs_price_body ul li:last-child{
  float: right;
}

#fs_distance_body ul li{
  list-style: none;
  margin-bottom: 18px;
  font-size: 13px;
  font-weight: 400;

}

#fs_distance_body .text-right{
  float: right;
  height: 13px;
  width: 13px;
  border: 1px solid #999;
  margin-top: 3px;

}

#fs_distance_body li.active span:first-child{
  color: #ff286c;

}

#fs_distance_body li.active span:last-child{
background: #ff286c;
color: #fff;
border: 1px solid #ff286c;
font-size: 10px;
line-height: 100%;
text-align: center;
}

#fs_time_body ul{
  display: block;
  margin-top: 20px;
  }


#fs_time_body ul li{
  list-style: none;
  margin-bottom: 18px;
  font-size: 13px;
  font-weight: 400;

}

#fs_time_body .text-right{
  float: right;
  height: 13px;
  width: 13px;
  border: 1px solid #999;
  margin-top: 3px;

}

#fs_time_body li.active span:first-child{
  color: #ff286c;

}

#fs_time_body li.active span:last-child{
background: #ff286c;
color: #fff;
border: 1px solid #ff286c;
font-size: 10px;
line-height: 100%;
text-align: center;
}

#fs_rating ul{
  display: block;
  margin-top: 15px;
  }

  #fs_rating ul li{
    list-style: none;
    margin-bottom: 18px;
    font-size: 13px;
    font-weight: 400;

  }

  #fs_rating .text-right{
    float: right;
    height: 13px;
    width: 13px;
    border: 1px solid #999;
    margin-top: 3px;

  }


#fs_rating i{
  color: #dedede;
}

#fs_rating i.dark{
  color: #ffd700;
}

#fs_rating{
 border: none !important;
}
