body, button, input, input::placeholder {
  font-family: Okra, Helvetica, sans-serif;
}

body, html {
  margin: 0;
  padding: 0px 0px;
  font-size: 62.5%;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  display: block;
}

div, p, span {
  font-size: 1.6rem;
}

div {
  display: block;
}

.navbar1 {
  width: 100%;
  height: 100%;
}

div.container {
  padding: 0 0;
}

.navbar-nav {
  padding: 10px 20px;
  margin: 0 0 0 0;
}

nav.navbar {
  padding: 5px 140px;
  
}
.navfont{
font-size: 1.2rem;
}

li.nav-item.navbar-brand {
  padding: 3.125px 0px;
}

.brandlogo {
  width: 70%;
  margin-left: 20px;
}

div.logo {
  width: 25%;
}

li {
  padding: 10px;
}

.nav-link {
  font-size: 2rem;
  color:rgb(105, 105, 105);
}

.nav-link:hover {
  color: black;
}

.login {
  margin-left: 220px;
}

.signup {
  margin-left: 20px;
}

.navbar2 {
  padding: 0px 10px;
  padding-bottom: 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 0.8rem;
  box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
}

.location {
  border: none;
  font-size: 1.4rem;
  margin: 0px 1rem 0px 0.5rem;
}

.search {
  border: none;
  font-size: 1.4rem;
  margin: 0px 1rem 0px 0.5rem;
}

input:focus-visible {
  outline-offset: 0px;
}

input {
  border: none;
  outline: none;
}

.div-inline {
  display: inline-block;
}

.dropdown-menu {
  margin-top: 60px;
  width: 250px !important;
  height: 70px !important;
}



.gps{
  padding: 10px;
}
.gps1{
  margin-left: 37px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-container{
    background-color: #f7f7fc;
    padding-bottom: 5rem;
}
.footer{
    width: 100%;
    background-color: #f7f7fc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.footer-heading h3 {
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.footer-heading a {
    color: #414146;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.footer-heading a:hover {
    color:rgb(247, 9, 9);
    transition: 0.3s ease-out;
}
.footer-social h3 {
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.footer-social a:hover {
    color:rgb(247, 9, 9);
}
.footer-headingname h2 {
    margin-top: 2rem;
    color: rgb(18, 20, 20);
    font-family: monospace;
    justify-content: baseline;
}
.footer-copyright a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #414146;

}
